@import '../third-party/bulma.min.css';

html {
  /*height: 600px;*/
  /*width: 769px;*/
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 0.4rem;
}

.notification {
  padding: 1rem;
}

.tile.is-ancestor:not(:last-child) {
  margin-bottom: 0;
}

.content {
  width: 100%;
}

.tile.is-parent {
  padding: 0.8rem 0.4rem 0;
}

.tile.is-ancestor {
  flex-wrap: wrap;
}

.button {
  position: relative;
}

.button button.delete {
  display: none;
  position: absolute;
  right: 5px;
  top: 6px;
}

.show-settings div.button {
  pointer-events: none;
}

.show-settings .button button.delete {
  display: block;
}
